body {
    background: lightslategray;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}
  
tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}

#name {
    font-size: 50%;
}

#cancel-move {
    margin-bottom: 20px;
}

#m-black{
    margin: 0 20px;
}

#to-play{
    background: lightseagreen;
}

.top{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    border: 4px gold double;
    padding-top: 10px;
}

#board {
    text-align: center;
    padding-right:20px;   
 }

 .head-colour {
    background:lightskyblue;
}

 .white{
     background: white;
     color: black;
 }

 .black{
     background: black;
     color: white;
 }

 .redSquare{
    background: red;
    color: white;
}

img {
    border-radius: 50%;
 }

 .highlight-from {
     border: red solid 3px;
 }

 .highlight-to {
    border: red dotted 3px;
}

 #mode-select {
     padding-bottom: 20px;
 }

 #mode-indicator {
     background: black;
     color: white;
     font-weight:bold;
     text-align: center;
     padding-top:4px;
     border: white solid 4px;
 }

 .btn-log {
    padding: 0;
    background: cornflowerblue;
}

#select {
     margin: 10px;
     padding: 10px;
     background:lightskyblue;
     border: double gold 2px;
 }

 .selected {
    border: red 4px double;
}

 #left {
    padding: 30px;
 }

 #right, #to-play, #current-move {
    color: black;
    font-weight: bold;
    font-size: 150%;
 }

 #show-chart, #game-log {
    font-size: 80%;
    margin: 5px;
    overflow-y: auto;
    height: 700px;
 }

 #table-move {
    text-align: center;
 }

 .promote {
     padding:10px;
     margin: 10px;  
 }

 #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }